{% extends 'default.html' %} {% load static %} 
{%block title%}Login{%endblock%}
{%block description%}
<div class="container">
	<div class="row gx-5">
		<div class="col col-lg-5 d-none d-md-block bg-light rounded">
			<div class="row p-4">
				<h1 class="display-6 fw-bold">Welcome to your Dashboard</h1>
			</div>
			<div class="row p-4">
				<span class="fs-4" style="color: #566474">
					This is the homepage of lead management system, login now to begin
				</span>
			</div>
			<div class="row p-4">
				<img src="{%static 'login.svg'%}" alt="login svg" />
			</div>
		</div>
		<div
			class="col col-lg-7 p-4 d-flex justify-content-center align-items-center"
		>
			<div
				class="col col-lg-8 col-xl-7 container rounded-2 border py-4 shadow"
				style="border-color: #dfe0e0"
			>
				<div class="row">
					<h5 class="py-4">Login into your account</h5>
				</div>
				<div class="row">
					<form>
						<div class="mb-3">
							<input
								type="email"
								class="form-control"
								placeholder="Enter email address"
							/>
						</div>
						<div class="mb-3">
							<input
								type="password"
								class="form-control"
								placeholder="Enter Password"
							/>
						</div>
						<button type="submit" class="btn btn-primary w-100 mt-5 mb-4">
							Login now
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{%endblock%}
